/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Header */

.brand-logo {
    width: 235px; 
    margin-top: 2;
}

.z-frpth-0 {
    background: #1B396A;
}

.btn-large {
    font-family: 'Montserrat', sans-serif;
}

/* Header */

body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.8em;
    color: #0e9614;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.redes-sociales a {
    font-size: 2em;
    margin-right: 20px;
}

.p {
    text-align: center; 
    font-size: 12px; 
    color: #ffffff; 
    font-weight: 600; 
    line-height: 12px;
}


/* Footer */

footer {
    background: #13322B;
}

footer .contenedor>div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
}

@media (min-width: 768px) {
    footer .contenedor>div {
        width: 33.3%;
        float: left;
    }
}

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

footer .footer-informacion p {
    font-size: 20px;
}

footer div.redes-sociales {
    text-align: center;
}

footer .redes-sociales i {
    color: #ffffff;
}

p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

/* Footer */

.card-image{
    height: 400px; /* Your height here */
    overflow: hidden;
}

.collapsible{
    margin-bottom: 2px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
#tabla, th, td {
    white-space: nowrap;
}*/

.tabla-sugerencias{
    width:100%;
    overflow:auto;
    table-layout: fixed;
}

.tabla-sugerencias td{
    word-wrap:break-word;
    vertical-align: top;
}

.tabla-sugerencias td, th{
    padding: 15px;
}

.tabla-sugerencias .tabla-correo{
    width: 25%;
}
.tabla-sugerencias .tabla-sugerencia{
    width: 60%;
}
.tabla-sugerencias .tabla-fecha{
    width: 7%;
}
.tabla-sugerencias .tabla-delete{
    width: 8%;
}

@media only screen and (max-width: 1100px) {
    .parallax-container{
        height: 700px !important;
    }
    .tabla-sugerencias .tabla-correo{
        width: 25%;
    }
    .tabla-sugerencias .tabla-sugerencia{
        width: 55%;
    }
    .tabla-sugerencias .tabla-fecha{
        width: 15%;
    }
    .tabla-sugerencias .tabla-delete{
        width: 15%;
    }
}

@media only screen and (max-width: 580px) {
    .parallax-container{
        height: 750px !important;
    }
    .tabla-sugerencias .tabla-correo{
        width: 30%;
    }
    .tabla-sugerencias .tabla-sugerencia{
        width: 50%;
    }
    .tabla-sugerencias .tabla-delete{
        width: 20%;
    }
    .tabla-sugerencias .tabla-fecha{
        display: none;
    }
    .tabla-sugerencias .fecha{
        display: none;
    }
    .panel-access{
        padding: 7px;
    }
    .panel-access h1{
        font-size: 40px;
    }
}

/*iPhone +*/
@media only screen and (max-width: 400px) {
    .parallax-container{
        height: 700px !important;
    }
}  

/*iPhone X*/
@media only screen and (max-width: 380px) {
    .parallax-container{
        height: 600px !important;
    }
}

/*iPhone X*/
@media only screen and (max-width: 320px){
    .parallax-container{
        height: 550px !important;
    }
} 

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}